-- ==============================================================================
-- Phase 1A: Settlement Instrument Identity (Structural / New-Transaction Only)
-- ==============================================================================
-- Adds authoritative source/destination instrument identity to settlements.
--
-- This migration implements ONLY the structural/new-transaction portion:
-- 1. Adds source_instrument_id and dest_instrument_id columns to settlements
-- 2. Updates create_settlement() to persist these columns
-- 3. Updates reverse_settlement() to preserve instrument identity on reversal
-- 4. Adds indexes for query performance
--
-- EXCLUDED (per requirements):
-- - Historical backfill query using audit_logs
-- - Any guessed provider attribution for historical settlements
-- - Modifications to get_pool_movements(), get_pool_balances()
-- - Portal balance calculations
-- - Opening balances
-- ==============================================================================

-- ------------------------------------------------------------------------------
-- 1. Add columns to settlements table (idempotent)
-- ------------------------------------------------------------------------------
alter table public.settlements
  add column if not exists source_instrument_id uuid references public.payment_instruments(id) on delete set null,
  add column if not exists dest_instrument_id   uuid references public.payment_instruments(id) on delete set null;

create index if not exists settlements_source_instrument_id_idx on public.settlements (source_instrument_id);
create index if not exists settlements_dest_instrument_id_idx on public.settlements (dest_instrument_id);
-- ------------------------------------------------------------------------------
-- 2. Update create_settlement() to persist source/destination instrument IDs
-- ------------------------------------------------------------------------------
-- Drop the existing function so the new signature can be installed cleanly.
-- The new function with two extra optional uuid parameters is a strict superset.
drop function if exists public.create_settlement(
  text, date, numeric, text, text, text
);

create or replace function public.create_settlement(
  p_settlement_type          text,
  p_settlement_date          date,
  p_amount                   numeric,
  p_reference                text,
  p_remarks                  text,
  p_direction                text,
  p_source_instrument_id     uuid default null,
  p_dest_instrument_id       uuid default null
)
returns jsonb
language plpgsql
security definer set search_path = public
as $$
declare
  v_id                uuid;
  v_number            text;
  v_from              text;
  v_to                text;
  v_prefix            text;
  v_cash_dir          text;
  v_cash_label        text;
  v_src_type          text;
  v_src_active        boolean;
  v_src_balance       numeric;
  v_source_seed_opening numeric;
  v_source_seed_date    date;
  v_source_movements    numeric;
  v_dst_type          text;
  v_dst_active        boolean;
begin
  -- 0. Standard authorization gate (matches every other settlement RPC).
  if auth.uid() is null then raise exception 'Not authenticated'; end if;
  if not public.is_back_office() then raise exception 'Forbidden'; end if;
  if p_settlement_date is null then raise exception 'Date is required'; end if;
  if p_amount is null or p_amount <= 0 then raise exception 'Amount must be positive'; end if;

  -- 1. Resolve settlement type to pools, prefix, and optional cash leg.
  if p_settlement_type = 'aeps_to_bank' then
    v_from := 'aeps'; v_to := 'bank'; v_prefix := 'ATB'; v_cash_dir := null;
  elsif p_settlement_type = 'bank_to_dmt' then
    v_from := 'bank'; v_to := 'dmt'; v_prefix := 'BTD'; v_cash_dir := null;
  elsif p_settlement_type = 'wallet_to_dmt' then
    v_from := 'wallet'; v_to := 'dmt'; v_prefix := 'WTD'; v_cash_dir := null;
  elsif p_settlement_type = 'upi_qr_to_wallet' then
    v_from := 'upi_qr'; v_to := 'wallet'; v_prefix := 'UQW'; v_cash_dir := null;
  elsif p_settlement_type = 'upi_qr_to_bank' then
    v_from := 'upi_qr'; v_to := 'bank'; v_prefix := 'UQB'; v_cash_dir := null;
  elsif p_settlement_type = 'wallet_to_bank' then
    v_from := 'wallet'; v_to := 'bank'; v_prefix := 'WTB'; v_cash_dir := null;
  elsif p_settlement_type = 'bank_to_recharge' then
    v_from := 'bank'; v_to := 'recharge'; v_prefix := 'BTR'; v_cash_dir := null;
  elsif p_settlement_type = 'recharge_to_bank' then
    v_from := 'recharge'; v_to := 'bank'; v_prefix := 'RTB'; v_cash_dir := null;
  elsif p_settlement_type = 'bank_withdrawal' then
    v_from := 'bank'; v_to := 'cash'; v_prefix := 'BWD'; v_cash_dir := 'in'; v_cash_label := 'Bank Withdrawal';
  elsif p_settlement_type = 'add_cash_to_bank' then
    v_from := 'cash'; v_to := 'bank'; v_prefix := 'CTB'; v_cash_dir := 'out'; v_cash_label := 'Cash to Bank';
  elsif p_settlement_type = 'cash_adjustment' then
    if p_direction not in ('in', 'out') then raise exception 'Select Add Cash or Remove Cash'; end if;
    v_from := 'cash'; v_to := 'cash'; v_prefix := 'CAD';
    v_cash_dir := p_direction;
    v_cash_label := case when p_direction = 'in' then 'Cash Added' else 'Cash Removed' end;
  elsif p_settlement_type = 'bank_to_wallet' then
    v_from := 'bank'; v_to := 'wallet'; v_prefix := 'BTW'; v_cash_dir := null;
  else
    raise exception 'Invalid settlement type';
  end if;

  -- 2. Server-side guards for bank_to_wallet (instrument identity + balance).
  --    Only applied for bank_to_wallet. All other settlement types are
  --    untouched and continue to work with p_source_instrument_id /
  --    p_dest_instrument_id = NULL.
  if p_settlement_type = 'bank_to_wallet' then

    -- 2a. Source instrument identity + active + type.
    if p_source_instrument_id is null then
      raise exception 'bank_to_wallet requires a source bank instrument';
    end if;

    select type, is_active
    into v_src_type, v_src_active
    from public.payment_instruments
    where id = p_source_instrument_id;

    if v_src_type is null then
      raise exception 'Source bank instrument % not found', p_source_instrument_id;
    end if;

    if v_src_active is distinct from true then
      raise exception 'Source bank instrument % is inactive', p_source_instrument_id;
    end if;
    if v_src_type not in ('bank', 'debit_card') then
      raise exception 'Source instrument type must be bank or debit_card (got %)', v_src_type;
    end if;

    -- 2b. Destination instrument identity + active + type.
    if p_dest_instrument_id is null then
      raise exception 'bank_to_wallet requires a destination wallet instrument';
    end if;
    if p_dest_instrument_id = p_source_instrument_id then
      raise exception 'Source and destination instruments must be different';
    end if;
    select type, is_active into v_dst_type, v_dst_active
    from public.payment_instruments
    where id = p_dest_instrument_id;
    if v_dst_type is null then
      raise exception 'Destination wallet instrument % not found', p_dest_instrument_id;
    end if;
    if v_dst_active is distinct from true then
      raise exception 'Destination wallet instrument % is inactive', p_dest_instrument_id;
    end if;
    if v_dst_type <> 'wallet' then
      raise exception 'Destination instrument type must be wallet (got %)', v_dst_type;
    end if;

    -- 2c. Source bank balance check using the canonical bank balance model.
    --     We anchor from the same pool seed logic used by get_pool_balances()
    --     and then calculate movements through the existing canonical
    --     get_pool_movements() engine.
    select s.opening, s.seed_date
    into v_source_seed_opening, v_source_seed_date
    from public.get_pool_seed('bank', p_settlement_date) s;

    v_source_movements := public.get_pool_movements('bank', v_source_seed_date, p_settlement_date);
    v_src_balance := coalesce(v_source_seed_opening, 0) + coalesce(v_source_movements, 0);

    if v_src_balance < p_amount then
      raise exception 'Insufficient source bank balance: available=%, required=%',
        v_src_balance, p_amount;
    end if;
  end if;

  -- 3. Numbering + insert into settlements (now with instrument IDs).
  v_number := v_prefix || '-' || lpad(nextval('public.settlement_seq')::text, 4, '0');

  insert into public.settlements (
    settlement_number, settlement_type, settlement_date, from_pool, to_pool,
    direction, amount, reference, remarks, status, created_by,
    source_instrument_id, dest_instrument_id
  ) values (
    v_number, p_settlement_type, p_settlement_date, v_from, v_to,
    v_cash_dir, p_amount, nullif(p_reference, ''), p_remarks, 'success', auth.uid(),
    p_source_instrument_id, p_dest_instrument_id
  ) returning id into v_id;

  -- 4. Optional cash leg (only when v_cash_dir is not null).
  --    For bank_to_wallet, v_cash_dir is null so no cash_entries row is
  --    written -- the pool movement is captured by the settlements row
  --    itself, which the canonical get_pool_movements() function reads.
  if v_cash_dir is not null then
    insert into public.cash_entries (entry_date, method, direction, amount, description, ref_type, ref_id)
    values (p_settlement_date, 'cash', v_cash_dir, p_amount,
            'Settlement: ' || v_cash_label || ' (' || v_number || ')', 'settlement', v_id);
  end if;

  -- 5. Audit log (always exactly one row per settlement).
  insert into public.audit_logs (user_id, user_name, action, entity, entity_id, description, details)
  values (
    auth.uid(), null, 'settlement_created', 'settlements', v_id::text,
    'Settlement ' || v_number || ' ' || v_from || ' -> ' || v_to || ' of ' || p_amount,
    jsonb_build_object(
      'type', p_settlement_type,
      'amount', p_amount,
      'reference', p_reference,
      'source_instrument_id', p_source_instrument_id,
      'dest_instrument_id',   p_dest_instrument_id
    )
  );

  return jsonb_build_object('id', v_id, 'settlement_number', v_number, 'status', 'success');
end;
$$;
-- ------------------------------------------------------------------------------
-- 3. Update reverse_settlement() to preserve instrument identity on reversal
-- ------------------------------------------------------------------------------
drop function if exists public.reverse_settlement(uuid, text);

create or replace function public.reverse_settlement(p_settlement_id uuid, p_reason text)
returns jsonb
language plpgsql
security definer set search_path = public
as $$
declare
  v_settlement record;
  v_opposite text;
  v_label text;
  v_rev_id uuid;
  v_rev_number text;
  v_rev_prefix text;
begin
  if auth.uid() is null then raise exception 'Not authenticated'; end if;
  if not public.is_back_office() then raise exception 'Forbidden'; end if;

  select * into v_settlement from public.settlements where id = p_settlement_id for update;
  if not found then raise exception 'Settlement not found'; end if;
  if v_settlement.status <> 'success' then raise exception 'This settlement is already closed'; end if;

  -- Reverse the optional cash leg (if the original had one).
  if v_settlement.direction is not null then
    v_opposite := case when v_settlement.direction = 'in' then 'out' else 'in' end;
    v_label := case
      when v_settlement.settlement_type = 'bank_withdrawal' then 'Bank Withdrawal Reversed'
      when v_settlement.settlement_type = 'add_cash_to_bank' then 'Cash to Bank Reversed'
      else case when v_opposite = 'in' then 'Cash Added (Reversed)' else 'Cash Removed (Reversed)' end
    end;
    insert into public.cash_entries (entry_date, method, direction, amount, description, ref_type, ref_id)
    values (current_date, 'cash', v_opposite, v_settlement.amount,
            'Settlement: ' || v_label || ' (' || v_settlement.settlement_number || ')', 'settlement', p_settlement_id);
  end if;

  -- Create a reversal settlement row that mirrors the original but swaps
  -- source/destination instruments (so the reversal flows back to the origin).
  v_rev_prefix := case v_settlement.settlement_type
    when 'aeps_to_bank'        then 'ATB'
    when 'bank_to_dmt'         then 'BTD'
    when 'wallet_to_dmt'       then 'WTD'
    when 'upi_qr_to_wallet'    then 'UQW'
    when 'upi_qr_to_bank'      then 'UQB'
    when 'wallet_to_bank'      then 'WTB'
    when 'bank_to_recharge'    then 'BTR'
    when 'recharge_to_bank'    then 'RTB'
    when 'bank_withdrawal'     then 'BWD'
    when 'add_cash_to_bank'    then 'CTB'
    when 'cash_adjustment'     then 'CAD'
    when 'bank_to_wallet'      then 'BTW'
    else 'REV'
  end;

  v_rev_number := v_rev_prefix || '-' || lpad(nextval('public.settlement_seq')::text, 4, '0');

  insert into public.settlements (
    settlement_number, settlement_type, settlement_date, from_pool, to_pool,
    direction, amount, reference, remarks, status, created_by,
    source_instrument_id, dest_instrument_id
  ) values (
    v_rev_number,
    v_settlement.settlement_type,
    v_settlement.settlement_date,
    v_settlement.to_pool,      -- swap pools
    v_settlement.from_pool,    -- swap pools
    v_settlement.direction,    -- keep original direction for cash legs
    v_settlement.amount,
    v_settlement.reference,
    'Reversal of ' || v_settlement.settlement_number || ': ' || coalesce(p_reason, 'No reason provided.'),
    'reversed',
    auth.uid(),
    v_settlement.dest_instrument_id,  -- SWAP: original dest becomes reversal source
    v_settlement.source_instrument_id -- SWAP: original source becomes reversal dest
  ) returning id into v_rev_id;

  -- Mark original settlement as reversed.
  update public.settlements
  set status = 'reversed', reversed_at = now(), reversed_by = auth.uid(),
      remarks = trim(coalesce(remarks, '') || E'\nReversed: ' || coalesce(p_reason, 'No reason provided.'))
  where id = p_settlement_id;

  -- Audit log for the reversal (preserves original instrument IDs for traceability).
  insert into public.audit_logs (user_id, user_name, action, entity, entity_id, description, details)
  values (
    auth.uid(), null, 'settlement_reversed', 'settlements', p_settlement_id::text,
    'Reversed settlement ' || v_settlement.settlement_number || ' of ' || v_settlement.amount,
    jsonb_build_object(
      'reason', p_reason,
      'original_settlement_number', v_settlement.settlement_number,
      'reversal_settlement_number', v_rev_number,
      'original_source_instrument_id', v_settlement.source_instrument_id,
      'original_dest_instrument_id',   v_settlement.dest_instrument_id
    )
  );

  return jsonb_build_object('id', p_settlement_id, 'status', 'reversed', 'reversal_id', v_rev_id);
end;
$$;

revoke all on function public.reverse_settlement(uuid, text) from public, anon;
grant execute on function public.reverse_settlement(uuid, text) to authenticated, service_role;

-- ==============================================================================
-- END OF PHASE 1A
-- ==============================================================================
-- NOTE: Historical backfill is intentionally NOT included in this migration.
-- The five historical settlements (ATB-0001, ATB-0003, ATB-0004, ATB-0007, ATB-0008)
-- will retain NULL for source_instrument_id and dest_instrument_id.
-- ==============================================================================
